@import "~bootstrap/scss/bootstrap";

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  line-height: 60px;
  background-color: #f5f5f5;
}

#sidebar-menu ul {
  list-style-type: none;
  -webkit-padding-start: 0px;
}

#sidebar-menu ul li > a {
  padding: 5px 0px 0px 5px;
  margin: 0px 0px 10px 0px;
  display: block;
  border-left: 3px solid whitesmoke;
  color: black;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: grotesque-bold;
}

#sidebar-menu li.active > a {
  border-left-color: darkgreen;
  padding-top: 5px;
  color: darkgreen;
  text-decoration: none;
  line-height: 30px;
}